.main {
    overflow:hidden;
    background: url("../src/main-bg-left.jpg") 0 0 no-repeat #90ddff;
}

.search-criteria {
    overflow:hidden;
    margin-bottom: 1.7em;
}

.filter-form select, .filter-form button{
    margin-right: 0.5em;
    margin-bottom: 0.7em;
    float: left;
    padding: 0.3em;
}

.filter-form, #checkboxes {
    margin-right: 0.5em;
    float: left;
}

.filter-form select {
    border:none;
    width: 12em;
}

.filter-form select option:hover{
    background-color:#ffecbe;    
}

#checkboxes {
    display: inline-block;
    margin-bottom: 0.7em;
}

.filter-form .checkbox {
    padding: 0.3em;
    color: #fff;
    display: inline-block;
}

.filter-form .checkbox .checked {
    color: #10e8a2;
}


.filter-form, .reset-form{
    margin-bottom: 0.7em;
}

.filter-form button, .reset-form button {
    transition-duration: 0.5s;
    transition-delay:0s;
    transition-property: background-color;
    width: 7em;
    background-color:#fff;
    border:none;
}

.reset-form button {
    padding: 0.3em;
}

.filter-form button:hover, .reset-form button:hover {
    background-color:#ffecbe;
}

.filter-form {
    width: 100%;
}


.news {
    height:85%;
    overflow-y:scroll;
}

.news::-webkit-scrollbar {
    width: 10px;
}

 
.news::-webkit-scrollbar-track {
    border: solid 1px #fff; 
    border-radius: 10px;
}
 
.news::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fff; 
}

.comments {
            color: #000;
            font-kerning: auto;
            font-size: 1em;
            font-weight: 400;
            letter-spacing: 0;
            line-height: 1.125em;
            text-align: justify;
            text-decoration: none;
            text-transform: none;
            word-spacing: 0;
}

.short-text {
    text-align: justify;
}


.news .single-news {
    min-width:17em;
    width: 30%;
    float: left;   
    padding:0.5em; 
    margin-right: 1.5em;
    margin-bottom: 1.5em;
    background-color:#fff;
    border-top-right-radius: 20px;
    
}


.news .single-news .title a{
    padding:0.5em;
    margin-bottom: 0.5em;
    display:block;
    color: #fff;
    background-color:#c8e857;
    line-height: 1.4em;
    font-size: 1.5em;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 0.05em;
    border-top-right-radius: 20px;
    transition-duration: 1.5s;
    transition-delay:0s;
    transition-property: background-color, border-color;
    position:relative;
}

.news .single-news .title a:after {
    content: ''; 
    position: absolute; 
    left: 20px; 
    bottom: -18px; 
    border: 10px solid transparent; 
    border-top: 10px solid #c8e857; 
    transition-duration: 1.5s;
    transition-delay:0s;
    transition-property: border-color;
   }

.news .single-news .title a:hover {
    background-color: #10e8a2;
}

.news .single-news .title a:hover:after {
    border-top-color: #10e8a2;
}


.news .single-news .date, .news .single-news .short-text {
    margin-bottom: 0.5em;
}

.news .single-news .right-block .tags {
    color: #10e8a2;
    padding:0.5em;
    border-top: solid 2px #c8e857;
    transition-duration: 1.5s;
    transition-delay:1.5s;
    transition-property: color; 
}

.news .single-news .right-block .comments {
    padding:0.5em;
    border-top: solid 2px #10e8a2;
}

.pages-panel .pages form button {
    width:2em;
    height:2em;
    line-height:2em;
    border-width:0;
    border-radius: 50%;
    background-color: #fff;
    float: left;
    margin-right: 1em;

    transition-duration: 0.5s;
    transition-delay:0s;
    transition-property: background-color;
}

.pages-panel .pages form button.current-page {
    border-width:0;
    background-color: #10e8a2;
    color: #fff;
}

.pages-panel .pages form button.current-page:hover {
    background-color: #10e8a2;
}

.pages-panel .pages form button:hover {
    background-color:#9dff9f;
}
