* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-size:12px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


a {
    text-decoration:none;
    
}

::-webkit-scrollbar {

width: 0px;

}


/*frame*/

.main {
    
    min-width:300px;
    width:100%;
    height: 100vh;    
    min-height:50em;
    background-color:  #90ddff;
}

.header, .body{
    margin:0 auto;
    width: 75%;
}

.header {
    
    overflow:hidden;
    margin-bottom: 0.5em;
}

.header-content h2 {
    color: #fff;
    padding: 0.7em 0;
    line-height: 1em;
    font-size: 2.5em;
    letter-spacing: 0em;
    font-family: Impact, Charcoal, sans-serif;
    float: left;
}

.header-content .languages {
    float:right;
    color:#fff;
}

.header-content .languages a{
    transition-duration: 1s;
    transition-delay:0s;
    transition-property: background-color;
    display:block;
    padding: 0.5em;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-right:0.7em;
    float:left;
    width: 2.3em;
    text-align:center;
    background-color: #fff;
    color:#90ddff;
}

.header-content .languages a:hover{
    background-color: #90ddff;
    color:#fff;
}



.body {
    
    height:80%;
    padding-bottom:5em;
   } 




.news {
        
    margin-bottom: 0.7em;
    padding-right: 1em;
}




.footer {
    position:fixed;
    bottom:0;
    min-height:2em;
    height:auto;
    line-height:2em;
    width:100%;
    text-align:center;
    background-color:#c8e857;
    color:#fff;
}

/*font*/

.header-content h2, .title a, .title {
    font-kerning: auto;
    font-style: normal;
    font-weight: 400;    
    text-align: justify;
    text-decoration: none;
    text-transform: uppercase;
    word-spacing: 0.05em;
}




