.main {
    background: url("../src/main-bg-top.jpg") -10em 0 no-repeat #90ddff;
    overflow-y:scroll;
}


.news {
    padding-right: 0.7em;
    height:95%;    
    border-top-right-radius: 20px;
}

.news .back a {
    display:inline-block;
    padding:0.5em;
    content:"";
    color: #fff;
    
    background-color: #c8e857;
    margin-right: 1.7em;
    width: 7em;
    text-align:center;
    float: left;
    border-bottom-right-radius: 20px;
    transition-duration: 1s;
    transition-delay:0s;
    transition-property:background-color;

    line-height: 2.4em;
}

.news .back a:hover {
    background-color: #10e8a2;
}

.news .title {
    color: #c8e857;
    background-color: #fff;
    padding:0.5em;
    border-top-right-radius: 20px;
    line-height: 1.4em;
    font-size: 1.5em;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 0.05em;
}

.news .date, .news .author {
    background-color: #fff;
    padding: 0.7em;
    padding-left: 2em;
}

.news .full-text {
    color: #000;
    background-image: url("../src/full-text-bg.gif");
    background-repeat: repeat-y;    
    background-position : 100% 0;
    background-color: #fff;
    padding: 0.7em;
    padding-left: 2em;
    padding-bottom: 2em;
    font-kerning: auto;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.33em;
    text-align: justify;
    text-decoration: none;
    text-transform: none;
    word-spacing: 0;
    padding-right: 40%;
    border-bottom: dotted 30px #90ddff;
    margin-bottom: 2em;
}

.news .comments {
    padding-top: 30px;
    padding: 2em;
    padding-left: 60%;
    height: calc(300px - 4em);
    overflow-y:scroll;
    background: url("../src/comments-bg.gif") 10em 2em no-repeat #10e8a2;
    border-bottom: solid 1px #fff;
}


.news .comments::-webkit-scrollbar {
    width: 7px;
}

.news .comments::-webkit-scrollbar-thumb {
    background-color: #9dff9f; 
}

.news .comments .comment-date {
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}


.news .comments .comment-date:before {
    content: "";
    width: 0;
    height: 0;
    right: 100%;
    top: 10px;
    position: absolute;
    border-top: 8px solid transparent;
    border-right: 16px solid #fff;
    border-bottom: 8px solid transparent;
}

.news .comments .comment-text {
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 1em;
}

.news form {
    padding: 2em;
    background-color: #fff;
    overflow:hidden;
    padding-right: 60%;
}

.news form .comment-area {
    padding: 0.5em 2em;
    resize: none;
    width: 100%;
    height: 10em;
    border: none;
    border-radius: 3px;
    border: 2px solid #ffecbe;
    
}

.news form .comment-area:focus {
    outline: none !important;
    border: 5px solid #ffecbe;
}

.news form .comment-area::-webkit-scrollbar {
    width: 5px;
}

.news form .comment-area::-webkit-scrollbar-thumb {
    background-color: #c8e857; 
}

.news form .button {
    padding: 0.5em;
    border:none;
    background-color: #ffecbe;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    float:right;

    transition-duration: 0.5s;
    transition-delay:0s;
    transition-property: color;
}

.news form .button:hover {
    color:#fff;
}

.news .navigation {
    margin-bottom: 5em;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow:hidden;
}

.news .navigation a {
    display:inline-block;
    color:#000;
    padding: 0.5em;
    line-height:2em;
    border-width:0;
    border-bottom-left-radius: 10px;
    background-color: #fff;
    float: left;
    float:left;
    transition-duration: 0.5s;
    transition-delay:0s;
    transition-property: color;
}

.news .navigation a.next {
    float:right;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 10px;
}

.news .navigation a:hover {
    color:#10e8a2;
}