﻿* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    width: 1200px;
    height: 100vh;
    background-color: #1c211d;
    font-size: 12px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #afbfac;
    min-width: 300px;
    padding-left: 23em;
    padding-bottom: 2em;
}

.header .header-content .logout a {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    display: inline-block;
    padding: 0.5em;
    text-decoration: none;
    color: #bf3c1b;
}

.header .header-content .logout form {
    float: right;
}

.header .header-content .logout form input {
    border: none;
    background: none;
    color: #3a4039;
}

.header .header-content .logout form input:hover {
    color: #afbfac;
}

 .header-content h2 {
    width: 50%;
    color: #fff;
    padding-left: 2em;
    font-weight: 200;
    line-height: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 4em;
    text-transform: uppercase;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 0.05em;
}

 .header-content h2::first-letter {
    color: #bf3c1b;

}

.header .header-content .languages {
    position: absolute;
    z-index: 100;
    top: 5em;
    right: 0;
    display: inline-block;
}

.header .header-content .languages a {
    display: inline-block;
    float: left;
    padding: 0.5em;
    background-color: #bf3c1b;
    color: #fff;
    border-radius: 4px 0 0 4px;
}

.header .header-content .languages a:hover {
    background-color: #ff5024;
}

.menu {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 20em;
    height: 100vh;
    background-color: #1c211d;
    border-right: solid 1px #3a4039;
    padding-top: 5em;
}

.menu-content:first-child {
    border-top: solid 1px #3a4039;
}

.menu li {
    border-bottom: solid 1px #3a4039;
}

.menu img {
    display: none;
}

.menu .menu-content a {
    display: block;
    color: #afbfac;
    background-color: #1c211d;
    padding: 0.7em 2em;
    transition-duration: 1s;
    transition-property: background-color;
}

.menu .menu-content a:hover {
    background-color: #fff;
    color: #3a4039;
}

.inner-data {
    border-top: solid 1px #3a4039;
    padding-top: 20px;
    width: 80%;

}

.inner-data .search-criteria button {
    width: 5em;
    border-radius: 4px;
}

.inner-data .search-criteria select {
    width: 17em;
    padding: 0.5em;
    background-color: #1c211d;
    border: none;
    border-bottom: solid 1px #bf3c1b;
    color: #3a4039;
    transition-duration: 1s;
    transition-property: color;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

.inner-data .search-criteria #checkboxes {
    display: none;
    margin-left: 244px;
    position: absolute;
    border: 1px solid #0091ea;
    width: 224px;
    margin-top: -7px;
    z-index: 10;
    background-color: #1c211d;
}

.inner-data .search-criteria select:hover {
    color: #afbfac;
}

.inner-data .search-criteria *:focus {
    outline: none !important;
    color: #afbfac;
}

.inner-data .search-criteria {
    overflow: hidden;
}

.inner-data .search-criteria .filter-form {
    float: left;
}

.inner-data .search-criteria form {
    margin-bottom: 2em;

}

.inner-data .search-criteria button {
    padding: 0.5em;
    border: none;
    background-color: #bf3c1b;
    color: #fff;
    transition-duration: 1s;
    transition-property: background-color;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

.inner-data .search-criteria button:hover {
    background-color: #ff5024;
}

.inner-data .news {
    padding-right: 25em;
}

.inner-data .news a {
    color: #fff;
}

.inner-data .news a:hover {
    color: #ff5024;
}

.footer {
    position: fixed;
    z-index: 112;
    left: 0;
    top: 100vh;
    margin-top: -2em;
    min-height: 2em;
    height: 2em;
    line-height: 2em;
    width: 100%;
    text-align: center;
    background-color: #1c211d;
    border-top: solid 1px #3a4039;
    color: #3a4039;
}

/*auth*/

.auth form {
    width: 70em;
    margin: 4em auto;
    overflow: hidden;
}

.auth form .form {
    margin-right: 40em;
}

.auth form * {
    padding: 0.5em;
}

.auth .field {
    overflow: hidden;
}

.auth input {
    float: right;
    width: 20em;
    background-color: #1c221d;
    border: solid 1px #3a4039;
    color: #757f73;
}

.auth input {
    background-color: #1c221d;
    border: solid 1px #afbfac;
    color: #757f73;
}

.auth input:focus {
    outline-style: none !important;

    border-color: #bf3c1b;
    color: #fff;
}

.auth button {
    margin-top: 0.5em;
    float: right;
    background-color: #bf3c1b;
    color: #fff;
    border: none;
    width: 7em;
    transition-duration: 1s;
    transition-property: background-color;
    border-radius: 4px;
}

.auth a {
    text-decoration: none;
    font-size: x-large;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 100;
    padding-left: 30%;
    margin-top: -30px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition-duration: 1s;
    transition-property: background-color;
    position: absolute;

}

.auth a:hover {
    transition-duration: 1s;
    transition-property: background-color;
    color: #ff5024;
}

.message {
    font-style: italic;
    color: rgba(175, 191, 172, 0.42);
}

.start-logo{
    position: absolute;
    left:33%;
    top:33%;
}