body {
    border-top: solid 1px #3a4039;
    padding-top: 2em;
    margin-right: 25em;
}

.inner-data a {
    color:#fff;
}

.inner-data a:hover {
    color: #ff5024;
}

.inner-data .author-content .author, .inner-data .add-author {
    margin-bottom: 1em;
}

.inner-data .author-content .author *, .inner-data .add-author form *{
    padding: 0.5em;
}

.inner-data .author-content .author label, .inner-data .add-author label {
    margin-right: 1em;
    display: inline-block;
    width:10em;
}

.inner-data .author-content .author input, .inner-data .add-author input {
    width: 30em;
}

.inner-data .author-content .author input {
    background-color: #1c221d;
    border: solid 1px #3a4039;
    color: #757f73;
}

.inner-data .add-author input {
    background-color: #1c221d;
    border: solid 1px #afbfac;
    color: #757f73;
}

.inner-data .add-author input:focus {
    outline-style: none !important;

    border-color: #bf3c1b;
    color: #fff;
}

.inner-data .add-author button.button {
    background-color: #bf3c1b;
    color: #fff;
    border:none;

    transition-delay:0s;
    transition-duration:1s;
    transition-property: background-color;
}

.inner-data .add-author button.button:hover {
    background-color: #ff5024;
}
