.inner-data .news .single-news {
    padding: 0.5em 15px 0.5em 2em;
    background-color: #3a4039;
    margin-bottom: 0.5em;
    position: relative;
}

.inner-data .news .single-news .author {
    padding-left: 10px;
    opacity: 0.4;
}

.inner-data .news .single-news .date {
    opacity: 0.4;
    padding-bottom: 5px;
}

.inner-data .news .single-news .comments {
    opacity: 0.4;
}

.inner-data .news .single-news .short-text {
    padding-bottom: 20px;
}

.inner-data .news button, .inner-data .pages-panel button {
    padding: 0.5em;
    border: none;
    background-color: #bf3c1b;
    color: #fff;
    transition-delay: 0s;
    transition-duration: 1s;
    transition-property: background-color;
    margin-bottom: 0.5em;
    border-radius: 4px;
}

.inner-data .news button {
    float: right;
    border-radius: 4px;
}

.inner-data .pages-panel button {
    float: left;
    margin-right: 0.5em;
    border-radius: 4px;
}

.inner-data .news button:hover, .inner-data .news button:hover {
    background-color: #ff5024;
}

.inner-data .news .single-news .title {
    font-size: 1.5em;
}

.inner-data .news .single-news .short-text {
    text-align: justify;
}

.inner-data .news .single-news input {
    border: none;
    position: absolute;
    top: 15px;
    right: 15px;
}

.inner-data .news .single-news {
    overflow: hidden;
}

.inner-data .news .single-news .edit {
    float: right;
    padding-left: 8px;
    font-size: 1.2em;
}

.tags span {
    margin: 3px;
    padding-right: 3px;
    padding-left: 3px;
    background: rgba(235, 91, 15, 0.6);
    border-radius: 4px;
}

.active {
    background-color: #00b3ee;
}