.news .full-text, .news .comments {
    text-align: justify;
}

.news .title {
    padding-top: 0.7em;
    font-size: 1.5em;
    color: #ffffff;
}

.news .author {
    margin-bottom: 1em;
    padding-left: 10px;
    opacity: 0.4;
}

.news .date {
    opacity: 0.4;
    padding-bottom: 5px;
}

.news .full-text {
    margin-bottom: 3em;
}

.news .comments {
    overflow-y: scroll;
    /*height: 20em;*/
    padding-bottom: 2em;
    border-top: solid 1px #3a4039;
    border-bottom: solid 1px #3a4039;
    margin-bottom: 2em;
}

.news .comments::-webkit-scrollbar {
    width: 5px;
}

.news .comments::-webkit-scrollbar-thumb {
    background-color: #bf3c1b;
    border-radius: 4px;
}

.news .comments .comments-form {
    border-bottom: solid 1px #757f73;
    margin-right: 0.5em;
    width: calc(50% - 5em);
    padding: 0.5em 2em;
    margin-bottom: 0.5em;
    position: relative;
    overflow: visible;
}

.news .comments .comments-form .comment-date {
    position: absolute;
    top: 0.5em;
    right: -7em;
    color: #afbfac;
}

.news .comments .comments-form .comment-text {
    position: relative;
}

.news .comments .comments-form .comment-text button.close {
    position: absolute;
    top: 0.3em;
    right: -11em;
    padding-left: 3px;
    padding-top: 1px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border: none;
    background-color: #bf3c1b;
    color: #fff;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-property: background-color;

}

.news .comments .comments-form .comment-text button.close:hover {
    background-color: #ff5024;
}

.news .comment-area {
    padding: 0.5em;
    resize: none;
    width: 50%;
    height: 10em;
    background-color: #1c221d;
    border: solid 1px #afbfac;
    color: #afbfac;
    margin-bottom: 1em;
}

.news .comment-area:focus {
    outline: none !important;
    border: 1px solid #bf3c1b;
    color: #fff;
}

.news .comment-area::-webkit-scrollbar {
    width: 5px;
}

.news .comment-area::-webkit-scrollbar-thumb {
    background-color: #bf3c1b;
    border-radius: 4px;
}

.news .post-form {
    overflow: hidden;
}

.news button.button {
    float: right;
    padding: 0.5em;
    margin-right: 50%;
    margin-bottom: 1em;
    border: none;
    background-color: #bf3c1b;
    color: #fff;

    transition-duration: 1s;
    transition-delay: 0s;
    transition-property: background-color;
}

.news button.button:hover {
    background-color: #ff5024;
}

.news .navigation {
    overflow: hidden;
    margin-bottom: 2em;
}

.news .navigation a {
    float: left;
}

.news .navigation a.next {
    float: right;
}
