<div class="start-logo">
    <div class="header-content">
        <h2>
            News&nbsp;portal
        </h2>
    </div>
    <div class="auth" ng-controller="LoginCtrl">
        <a href ng-click="login()">
            Log in via LinkedIn
        </a>
    </div>
</div>
