<div class="inner-data">
    <div ng-controller="TagCtrl as ctrl" class="tag-content">
        <div ng-repeat="tag in tags" class="tag">
            <label>Tag:</label>
            <a ng-dblclick="choose(tag.id)" ng-class="enabled">
                <input ng-model="tag.name" id="{{tag.id}}" type="text" value="{{tag.name}}" size="60"
                       ng-disabled="isNotChoosen(tag.id)">
            </a>
            <a href ng-click="putTag(tag)" class="edit-link">Save</a>
            <a href ng-click="deleteTag(tag.id)" class="edit-link">Delete</a>
        </div>

        <div class="add-tag">
            <form id="tagToAdd" name="postForm" ng-submit="postForm.$valid && ctrl.saveTag()">
                <div></div>
                <label for="add">Add tag:</label>
                <input id="add" name="name" ng-model="name" type="text" size="60" required
                       pattern="[A-Za-z0-9_\-,.: %$!?]{3,30}">
                <button type="submit" class="button">Save</button>
                <span class="message" ng-show="postForm.name.$invalid">Please enter name here (3 - 30 letters)</span>
            </form>
        </div>
    </div>
</div>
