<div class="inner-data">
    <div ng-controller="AuthorCtrl as ctrl" class="author-content">
        <div ng-repeat="author in authors" class="author">
            <label>Author:</label>
            <a ng-dblclick="choose(author.id)" ng-class="enabled">
                <input ng-model="author.name" id="{{author.id}}" type="text"
                       value="{{author.name}}" size="60" ng-disabled="isNotChoosen(author.id)">
            </a>
            <a href ng-click="putAuthor(author)" class="edit-link">Save</a>
            <a href ng-click="expireAuthor(author.id)" class="edit-link">Expire</a>
        </div>

        <div class="add-author">
            <form id="authorToAdd" name="postForm" ng-submit="postForm.$valid && ctrl.saveAuthor()">
                <div></div>
                <label for="add">Add author:</label>
                <input id="add" name="name" ng-model="name" type="text" size="60" required
                       pattern="[A-Za-z0-9_\-,.: %$!?]{3,30}">
                <button type="submit" class="button">Save</button>
                        <span class="message"
                              ng-show="postForm.name.$invalid">Please enter name here (3 - 30 letters)</span>
            </form>
        </div>
    </div>
</div>