<div ng-controller="PostNewsCtrl as ctrl" class="inner-data">
    <form id="news" name="newsForm" ng-submit="newsForm.$valid && ctrl.saveNews()">
        <div class="add-content">
            <div class="selects">
                <select ng-model="selectedAuthor" required
                        ng-options="author.name for author in authors track by author.id">
                    <option hidden value="">Choose author</option>
                </select>

                <select onclick="showCheckboxes()">
                    <option hidden disabled="">Choose tags</option>
                </select>
                <div id="checkboxes">
                    <div ng-repeat="tag in tags" class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="selected[]"
                                   value="{{tag.id}}"
                                   ng-checked="selectedTagIds.indexOf(tag.id) > -1"
                                   ng-click="toggleSelection(tag.id)">{{tag.name}}
                        </label>
                    </div>
                </div>
            </div>
            <div><p><p></div>
            <div class="field">
                <div></div>
                <label for="title">Title:</label>
                <input id="title" ng-model="news.title" class="data" type="text" name="title"
                       required pattern="[A-Za-z0-9_\-,.:'’ %$!?]{3,30}">
                <span class="message"
                      ng-show="newsForm.title.$invalid">Please enter something here (3 - 30 letters)</span>
            </div>

            <div class="field">
                <div></div>
                <label for="brief">Topic:</label>
                        <textarea id="brief" ng-model="news.shortText" class="data" name="shortText"
                                  required pattern="[A-Za-z0-9_\-,.: %$!?]{3,100}"></textarea>
                <span class="message" ng-show="newsForm.shortText.$invalid">Here (3 - 100 letters)</span>
            </div>

            <div class="field">
                <div></div>
                <label for="content">Content:</label>
                        <textarea id="content" ng-model="news.fullText" class="data" name="fullText"
                                  required pattern="[A-Za-z0-9_\-,.:\n '#’%$!?]{3,2000}"></textarea>
                <span class="message" ng-show="newsForm.fullText.$invalid">And here (3 - 2000 letters)</span>
            </div>

            <button type="submit">Save</button>
        </div>
    </form>
</div>



