<div class="menu">
    <ul class="menu-content">
        <li><a ng-href="news-list">News List</a></li>
        <li><a ng-href="add-news">Add News</a></li>
        <li><a ng-href="add-authors">Add/Update Authors</a></li>
        <li><a ng-href="add-tags">Add/Update Tags</a></li>
        <li><a ng-controller="LoginCtrl" ng-href ng-click="logout()">Logout</a></li>
    </ul>
</div>
