<div class="inner-data">
    <div class="search-criteria">

        <select ng-model="selectedAuthor" ng-options="author.name for author in authors track by author.id">
            <option hidden value="">Choose author</option>
        </select>

        <select onclick="showCheckboxes()">
            <option hidden disabled="">Choose tags</option>
        </select>
        <div id="checkboxes">
            <div ng-repeat="tag in tags" class="checkbox">
                <label>
                    <input type="checkbox"
                           name="selected[]"
                           value="{{tag.id}}"
                           ng-checked="selectedTagIds.indexOf(tag.id) > -1"
                           ng-click="toggleSelection(tag.id)"/> {{tag.name}}
                </label>
            </div>
        </div>
        <button type="submit" ng-click="loadNewsList()">Filter</button>

        <ng-form class="reset-form">
            <button type="submit" ng-click="reset()">Reset</button>
        </ng-form>
    </div>

    <div class="news">
        <div ng-repeat="news in newsList " class="single-news">
            <span class="title"><a ng-href="news-list/{{news.id}}">{{news.title}}</a></span>
            <span class="author">(by {{news.author.name}})</span>
            <div class="date">{{news.creationDate | date}}</div>
            <div class="short-text">{{news.shortText}}</div>
            <div class="right-block">
                <span class="comments">Comments ({{news.commentsList.length}})</span>
                            <span class="tags">
                                <span ng-repeat="tag in news.tagsSet">{{tag.name}} </span>
                            </span>
                <span class="edit"><a href ng-click="remove(news.id)">Delete</a></span>
                <span class="edit"><a ng-href="add-news/{{news.id}}">Edit</a></span>
            </div>
        </div>
    </div>

    <div class="pages-panel">
        <div class="pages">
            <button ng-repeat="page in pages" ng-click="loadNewsList(page)"> {{page}}</button>
        </div>
    </div>

</div>