<div class="inner-data">
    <div class="news">
        <span class="title">{{news.title}}</span>
        <span class="author">(by {{news.author.name}})</span>
        <div class="date">{{news.creationDate | date}}</div>
        <div class="full-text">{{news.fullText}}</div>

        <div class="comments">
            <ng-form ng-repeat="comment in news.commentsList">
                <div class="comments-form">
                    <div class="comment-date">{{comment.creationDate | date}}</div>
                    <div class="comment-text">{{comment.text}}
                        <button class="close" type="submit" ng-click="deleteComment(news.id, comment.id)">
                            ×
                        </button>
                    </div>
                </div>
            </ng-form>
        </div>

        <div class="post-form">
                    <textarea ng-model="text" name="text" class="comment-area" required="required"
                              title="Comment text"></textarea>
            <div>
                <button type="submit" ng-click="postComment(text)" class="button">Send comment</button>
            </div>
        </div>

        <div class="navigation"></div>
    </div>
</div>

