:focus {
outline:0;
}
table {
border-collapse:collapse;
border-spacing:0;
opacity: 0.95;
}
caption, th, td {
text-align:left;
font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
content:"";
}
blockquote, q {
quotes:"" "";
}

body {
 font-family:Tahoma, Verdana, Arial, 'Sans Serif';
 margin: 0.1px;
}
body.body{
	font-family:Tahoma, Verdana, Arial, 'Sans Serif';
    background-color:white;
    FONT-WEIGHT:normal;
    COLOR:black;
    background-image:url(/Restaurant/image/bg1.bmp);
    font-family:arial;
    font-size:14;
}

div.authorization{
    background-color:#fbd1a4;
    text-align: center;
    border: 1px solid gray;
    width: 350px;
    padding-top: 7px;
    padding-bottom: 15px;
    padding-left: 18px;
    margin-left: 37%;
    margin-right: 37%;
    margin-bottom: 40%;
    opacity: 0.7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.authorization a {
    color:black;
}

div.languages{
    text-align: center;
    border: 1px solid black;
    padding:7px;
    width:70px;
    margin-left:92%;
}

.languages a{
    color:#d9d9d9;\
}

div.header{
    height:200px;
    background-image: url(/Restaurant/image/logo.jpg);
    background-repeat: no-repeat;
    background-position: left top;
}

div.footer{
    height:20px;
    background-image:url(/Restaurant/image/footer.bmp);
    font-size: 13pt;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 7px;
    opacity: 0.85;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

td.logo{
    width:100%;
    background-position: left top;
    background-repeat: no-repeat;
    vertical-align: top;
    padding-left: 7px;
    padding-top: 7px;
    font-size: 14pt;
    font-family:Tahoma, Verdana, Arial, 'Sans Serif';
}

td.welcome{
    text-align: center;
    vertical-align: middle;
}

td.mainlanguages{
    text-align: left;
    color:#d9d9d9;
}
.mainlanguages a{
    color:#d9d9d9;
}

td.menu{        
    text-align: left;
    height:100%;
    width:200px;
    vertical-align: top;    
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    opacity: 0.9;
}

td.delimiter{
    width:2px;
    background-color: #7b3f24;
    opacity: 0.5;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

td.main{
    width:100%;
    text-align: left;
    vertical-align: top;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

div.messages{
    font-size:10pt;
    padding-bottom: 5px;
    color: #ff0000;
}

table.simple-little-table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;
	border-collapse:separate;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}

.simple-little-table th {
	font-weight:bold;
	padding:11px 15px 12px 15px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.simple-little-table th:first-child{
	text-align: left;
	padding-left:20px;
}
.simple-little-table tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.simple-little-table tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.simple-little-table tr{
	text-align: center;
	padding-left:20px;
}
.simple-little-table tr td:first-child{
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
.simple-little-table tr td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.simple-little-table tr:nth-child(even) td{
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.simple-little-table tr:last-child td{
	border-bottom:0;
}
.simple-little-table tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.simple-little-table tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.simple-little-table tr:hover td{
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

.simple-little-table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
.simple-little-table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
.simple-little-table a:active,
.simple-little-table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}

div.menu{
    background-color: #dcdcdc;
    background-image: url("/Restaurant/image/menu.jpg");
    width: 196px;
    height: auto;
    float: left;
    margin: 2px;
    padding: 0px;
    border: 1px solid #d0cccd;
}
a.menu{
    background-color: transparent;
    padding: 0px;
    padding-left: 10px;
    display: block;
    text-decoration: none;
    color: #0b2745;
    text-align: left;
    margin: 0px;
    height: 21px;
    border-top: 1px solid white;
    font-size: 14px;
    font-family:Tahoma, Verdana, Arial, 'Sans Serif';
}
a.menu:hover{
    color: #0b62bd;
    background-color: #9ab6bf;
}