#news {
    margin-bottom: 2em;
}

#news .add-content *, #news .selects * {
    padding: 0.5em;
}

#news label {
    margin-right: 1em;
    display: inline-block;
    width:10em;
}

#news .add-content input, #news textarea {
    width: 30em;
    background-color: #1c221d;
    border: solid 1px #afbfac;
    color: #757f73;
}

#news textarea {
    height: 10em;
    resize: none;
}

#news textarea#brief {
    height:3em;
}

#news .add-content input:focus, #news textarea:focus {
    outline-style: none !important;
    border-color: #bf3c1b;
    color: #fff;
}

#news textarea::-webkit-scrollbar {
    width: 5px;
}

#news textarea::-webkit-scrollbar-thumb {
    background-color: #bf3c1b; 
    border-radius: 4px;
}

#news .selects select {
    width: 17em;
    padding:0.5em;
    background-color: #1c211d;
    border:none;
    border-bottom: solid 1px #bf3c1b;
    color: #3a4039;
    transition-delay:0s;
    transition-duration:1s;
    transition-property: color;
    margin-right: 1em;
    margin-bottom: 0.5em;
}


#news .selects select:hover{
    color: #afbfac;
}

#news .selects *:focus {
    outline: none !important;
    border-bottom: solid 1px #bf3c1b;
    color: #afbfac;
}

#news .selects {
    overflow:hidden;
}

#news .selects:first-child {
    float:left;
}

#news .selects form {
    margin-bottom:2em;
}

#news button {
    padding:0.5em;
    border:none;
    margin-left: 37em;
    width: 5em;
    background-color: #bf3c1b;
    color: #fff;
    transition-delay:0s;
    transition-duration:1s;
    transition-property: background-color;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

#news  button:hover {
    background-color: #ff5024;
}