#checkboxes .checkbox {
    padding: 0.5em;
}

.body .content .inner-data .news .single-news {
    padding: 0.5em 15px 0.5em 2em;
    background-color: #3a4039;
    margin-bottom: 0.5em;
    position:relative;
}

.body .content .inner-data .news button, .body .content .inner-data .pages-panel button {
    
    padding:0.5em;
    border:none;
    background-color: #bf3c1b;
    color: #fff;
    transition-delay:0s;
    transition-duration:1s;
    transition-property: background-color;
    margin-bottom: 0.5em;
}

.body .content .inner-data .news button {
    float: right;
}

.body .content .inner-data .pages-panel button {
    float: left;
    margin-right: 0.5em;
}

.body .content .inner-data .news button:hover, .body .content .inner-data .news button:hover {
    background-color: #ff5024;
}

.body .content .inner-data .news .single-news .title {
    font-size: 1.5em;
}

.body .content .inner-data .news .single-news .short-text {
    text-align:justify;
}

.body .content .inner-data .news .single-news  input {
    border:none;
    position:absolute;
    top: 15px;
    right: 15px;
}

.body .content .inner-data .news .single-news {
    overflow: hidden;
}

.body .content .inner-data .news .single-news .edit {
    float: right;
    font-size: 1.2em;
}
