﻿* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration:none;
}

::-webkit-scrollbar {

width: 0px;

}

body {
    height: 100vh;
    background-color:#1c211d;
    font-size:12px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.main {
    background-color: #1c211d;
    color:#afbfac;
    height: 100vh;
    min-width:300px;
    width: 100%;
    padding-left: 23em;
    padding-bottom: 2em;
}

.main .header .header-content .logout {
    position: absolute;
    z-index:100;
    top:0;
    right:0;
    display:inline-block;
    padding:0.5em;
}

.main .header .header-content .logout form {
    float:right;
}

.main .header .header-content .logout form  input {
    border:none;
    background:none;
    color: #3a4039;
}

.main .header .header-content .logout form  input:hover {
    color: #afbfac;
}

.main .header .header-content h2 {
    width:50%;
    color: #fff;
    padding-left: 2em;
    font-weight: 200;    
    line-height: 1.5em;
    margin-top:0.5em;
    margin-bottom:0.5em;
    font-size: 4em;
    text-transform: uppercase;
    font-family: Impact, Charcoal, sans-serif;
    letter-spacing: 0.05em;
}

.main .header .header-content h2::first-letter {
    color:#bf3c1b;
    
}

.main .header .header-content .languages {
    position: absolute;
    z-index:100;
    top:5em;
    right:0;
    display:inline-block;    
}

.main .header .header-content .languages a {
    display:inline-block;
    float: left;
    padding:0.5em;
    background-color: #bf3c1b;
    color: #fff;
}

.main .header .header-content .languages a:hover {
    background-color: #ff5024;
}

.body .content .menu {
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 20em;
    height: 100vh;
    background-color:#1c211d;
    border-right: solid 1px #3a4039;
    padding-top:5em;
}

.body .content .menu-content:first-child {
    border-top: solid 1px #3a4039;
}

.body .content .menu p {
    border-bottom: solid 1px #3a4039;
}

.body .content .menu img {
    display:none;
}


.body .content .menu .menu-content a {
    display:block;
    color:#afbfac;
    background-color:#1c211d;    
    padding: 0.7em 2em;
    transition-delay:0s;
    transition-duration:1s;
    transition-property: background-color;
}

.body .content .menu .menu-content a:hover {
    background-color: #fff;
    color:#3a4039;
}


.body .content .inner-data .search-criteria select {
    width: 17em;
}

.body .content .inner-data .search-criteria button {
    width:5em;
}

.body .content .inner-data .search-criteria select{
    padding:0.5em;
    background-color: #1c211d;
    border:none;
    border-bottom: solid 1px #bf3c1b;
    color: #3a4039;
    transition-delay:0s;
    transition-duration:1s;
    transition-property: color;
    margin-right: 1em;
    margin-bottom: 0.5em;
}


.body .content .inner-data .search-criteria select:hover{
    color: #afbfac;
}

.body .content .inner-data .search-criteria *:focus {
    outline: none !important;
    color: #afbfac;
}
.body .content .inner-data .search-criteria {
    overflow:hidden;
}
.body .content .inner-data .search-criteria .filter-form {
    float:left;
}

.body .content .inner-data .search-criteria form {
    margin-bottom:2em;
    
}
.body .content .inner-data .search-criteria button {
    padding:0.5em;
    border:none;
    background-color: #bf3c1b;
    color: #fff;
    transition-delay:0s;
    transition-duration:1s;
    transition-property: background-color;
    margin-right: 1em;
    margin-bottom: 0.5em;
}

.body .content .inner-data .search-criteria button:hover {
    background-color: #ff5024;
}

.body .content .inner-data .news {
    padding-right: 25em;
}

.body .content .inner-data .news a {
    color:#fff;
}

.body .content .inner-data .news a:hover {
    color: #ff5024;
}

.footer {
    position:fixed;
    z-index: 2;
    left:0;
    top:100vh;
    margin-top: -2em;
    min-height:2em;
    height:2em;
    line-height:2em;
    width:100%;
    text-align:center;
    background-color:#1c211d;
    border-top: solid 1px #3a4039;
    color:#3a4039;
}


/*auth*/

.auth form {
    width: 70em ;
    margin: 4em auto;
    overflow: hidden;
}

.auth form .form {
    margin-right: 40em;
}

.auth form * {
    padding: 0.5em;
}

.auth .field {
    overflow:hidden;
}

.auth input {
    float:right;
    width: 20em;
    background-color: #1c221d;
    border: solid 1px #3a4039;
    color: #757f73;
}

.auth input {
    background-color: #1c221d;
    border: solid 1px #afbfac;
    color: #757f73;
}

.auth input:focus {
    outline-style: none !important;
    
    border-color: #bf3c1b;
    color: #fff;
}

.auth button {
    margin-top: 0.5em;
    float: right;
    background-color: #bf3c1b;
    color: #fff;
    border:none;
    width: 7em;

    transition-delay:0s;
    transition-duration:1s;
    transition-property: background-color;
}

.auth button:hover {
    background-color: #ff5024;
}