.inner-data {
    border-top: solid 1px #3a4039;
    padding-top: 2em;
    margin-right: 25em;
}

.inner-data a {
    color:#fff;
}

.inner-data a:hover {
    color: #ff5024;
}

.inner-data .tag-content .tag, .inner-data .add-tag {
    margin-bottom: 1em;
}

.inner-data .tag-content .tag *, .inner-data .add-tag form *{
    padding: 0.5em;
}

.inner-data .tag-content .tag label, .inner-data .add-tag label {
    margin-right: 1em;
    display: inline-block;
    width:10em;
}

.inner-data .tag-content .tag input, .inner-data .add-tag input {
    width: 30em;
}

.inner-data .tag-content .tag input {
    background-color: #1c221d;
    border: solid 1px #3a4039;
    color: #757f73;
}

.inner-data .add-tag input {
    background-color: #1c221d;
    border: solid 1px #afbfac;
    color: #757f73;
}

.inner-data .add-tag input:focus {
    outline-style: none !important;
    
    border-color: #bf3c1b;
    color: #fff;
}

.inner-data .add-tag button.button {
    background-color: #bf3c1b;
    color: #fff;
    border:none;

    transition-delay:0s;
    transition-duration:1s;
    transition-property: background-color;
}

.inner-data .add-tag button.button:hover {
    background-color: #ff5024;
}
