.news{
	padding: 18px;
}
.title{
	font-weight:bold;
}
.author{
	
}

.date{
	float: right;
	text-decoration: underline;
}

.full-text{
	margin-top: 30px;
}

.comments{
	margin-top: 30px;
	width: 300px;
	height: 250px;
    overflow-y: scroll;
}

.comment-date{
	margin-top: 10px;
	text-decoration: underline;
}

.comment-text{
	background-color: #D3D3D3;
	height: 50px;
}

.comment-area{
	margin-top: 30px;
	width: 300px;
}

.button{
	margin-left: 150px;
    margin-top: 20px;
    width: 150px;
    height: 35px;
}
.close{
	float:right;
}

.navigation{
	 position:absolute;
	 bottom:0;
}

.next{
	    margin-left: 665px;
}